{% extends 'base.html' %}
{% block styles %}
<style type="text/css">
.container{
	margin-top: 1em;
}
.badge.open{
	background-color: #5cb85c;
}
.tools{
	text-align: right;
	margin-bottom: 1em;
}
.transcript-panel{
	margin-top: 1em;
}
.gridster > ul{
	list-style: none;
}
.gridster .gs-w {
    background: #eee;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
[v-cloak]{
	display: none;
}
</style>
{% end %}

{% block body %}
<template id="chat">
	<div class="panel panel-default transcript-panel" v-cloak>
		<div class="panel-heading">
	    	<h3 class="panel-title">
	    		<button class="btn btn-default btn-xs pull-right" @click.prevent="clear">
	    			<span class="glyphicon glyphicon-trash"></span>
	    		</button>
	    		Chat: <small>{{!control.client_id}}</small>
	    	</h3>
		</div>
		<div class="panel-body">
			<form class="form-inline" @submit.prevent="say">
				<div class="form-group">
					<input class="form-control" v-model="what" placeholder="say something..." type="text" />
					<button class="btn btn-primary">Send</button>
				</div>
			</form>
		</div>
		<table class="table table-bordered table-condensed">
			<tbody>
				<tr v-for="item in transcript" :class="{
						info:item.client==control.client_id,
						success:item.client!=control.client_id 
					}">
					<td>
						{{! item.message }}<br/>
						<small class="text-muted">{{! item.client }}</small>
						<small v-if="item.time" class="badge pull-right">
							{{! item.time }}ms
						</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<template id="grid">
	<div class="gridster">
		<button class="btn btn-default pull-right" @click.prevent="add">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<div class="clearfix"></div>
    	<ul v-el:grid>
        	<li v-for="item in items" 
        		:data-row.sync="item.row" 
        		:data-col.sync="item.col" 
        		:data-sizex.sync="item.size_x" 
        		:data-sizey.sync="item.size_y">
        		{{! item.content }}
        	</li>
        </ul>
    </div>
</template>
<template id="login">
	<form class="form-inline" @submit.prevent="login">
		<div class="form-group" :class="{'has-error':error}">
			<input class="form-control" v-model="email" placeholder="email" type="text" />
			<input class="form-control" v-model="password" placeholder="password" type="password "/>
			<button class="btn btn-primary">Login</button>
			<span v-if="error" class="help-block">{{!{ error }}}</span>
		</div>
	</form>
</template>
<div class="container" v-cloak>
	<div class="tools">
		<span class="badge" :class="{'open':status=='open'}">{{! status }}</span>
		<span v-if="user" class="badge">{{! user.email}}</span>&nbsp;
		<a v-if="user" href="/logout?next=api.html" class="btn btn-default btn-xs">Logout</a>
	</div>
	<login v-if="!user" :user.sync="user"></login>
	<div v-if="error" class="alert alert-danger alert-dismissible" role="alert">
 			<button type="button" class="close" @click.prevent="error=null" aria-label="Close">
 				<span aria-hidden="true">&times;</span></button>
		<strong>bother!</strong> {{!{ error }}}
	</div>
	<chat></chat>
	<grid></grid>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="/api.js"></script>
<script type="text/javascript">{% autoescape None %}{% whitespace all %}


Control.prototype.install = function(Vue){
	Vue.prototype.control = this;
};

Vue.config.debug = true;

Vue.use(new Control());

Vue.component('login',{
	props:['user'],
	template: "#login",
	data:function(){
		return {
			email: null,
			password: null,
			error: null
		}
	},
	methods:{
		login: function(){
			this.control.login(this.email, this.password).
				then(function(user){
					this.user = user;
				}.bind(this)).
				catch(function(err){
					this.error = err.message;
				}.bind(this));
		}
	}
});

Vue.component("grid",{
	template: '#grid',
	data: function(){
		return {
			items: [{row: 1, col: 1, size_x: 1, size_y: 1, content: 'hello world'}]
		};
	},
	methods:{
		add: function(){
			this._gridster.add_widget("<li>New content: " + new Date() + "</li>",1,1,1,1);
			console.log(this._gridster.serialize());
		}
	},
	ready: function(){
		this._gridster = $(this.$els.grid).gridster({
			min_cols: 10,
			min_rows: 2,
			extra_rows: 1,
	        widget_margins: [10, 10],
	        widget_base_dimensions: [140, 140],
	        resize: {
	            enabled: true
	        }
	    }).data('gridster');
	}
});

Vue.component("chat",{
	template: '#chat',
	data: function(){
		return {
			transcript: [],
			what: null
		};
	},
	methods:{
		'say': function(){
			this.control.chat(this.what).
				then(function(){
					this.what = null;
				}.bind(this)).
				catch(function(err){
					this.$root.error = err.message;
				}.bind(this));
		},
		'clear': function(){
			this.transcript.splice(0,this.transcript.length);
		}
	},
	events:{
		'said': function(message){
			this.transcript.splice(0,0,message);
			return true;
		}
	}
});


var appl = window.appl = new Vue({
	el: ".container",
	data:{
		status: null,
		error: null,
		user: null,
	},
	created(){
		this.user = this.control.user;
		this.control.init(function(signal, message){
				this.$dispatch(signal, message);
				this.$broadcast(signal, message);
			}.bind(this)).
		then(function(status){
			this.status = status;
		}.bind(this)).
		catch(function(err){
			this.error = err;
		}.bind(this));
	}
});

{% autoescape xhtml_escape %}{% whitespace oneline %}</script>
{% end %}