<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Micro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/appl/fullcalendar-scheduler-1.2.1/lib/fullcalendar.min.css">
	<link rel="stylesheet" href="/appl/fullcalendar-scheduler-1.2.1/scheduler.min.css">
	<link rel="stylesheet" href="/appl/main.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="container">
	<div class="row" v-cloak>
		<div class="col-md-8">
			<div class="error" v-if="error">{{{ error }}}</div>
			<div class="calendar"></div>
		</div>
		<div class="col-md-4">
			<div class="editor" v-if="selection.start">
				<form class="form-horizontal allocation-form" @submit.prevent="allocate">
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label">title</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" :placeholder="title" v-model="selection.title">
						</div>
					</div>
					<div v-if="selection.event_id" class="form-group form-group-sm">
						<label class="col-sm-3 control-label">for</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" :placeholder="selection.event_title" readonly>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label">from</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" :placeholder="selection.start | moment 'MMM Do YYYY, h:mm a'" readonly>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label">to</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" :placeholder="selection.end | moment 'MMM Do YYYY, h:mm a'" readonly>
						</div>
					</div>
					<div class="form-group form-group-sm">
					  	<div class="col-sm-offset-3 col-sm-9">
					  		<button class="btn btn-default" type="button" @click.prevent="clear_selection">Cancel</button>
							<button v-if="selection.id===null" type="submit" class="btn btn-primary" :disabled="!can_allocated">Allocate</button>
							<button v-if="selection._id" type="button" class="btn btn-danger" @click.prevent="unallocate">Remove</button>
						</div>
					</div>
					<pre>{{ selection | json 4 }}</pre>
				</form>
			</div>		
		</div>
	</div>
      
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/appl/fullcalendar-scheduler-1.2.1/lib/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/vue/dist/vue.min.js" type="text/javascript"></script>
	<script src="/appl/fullcalendar-scheduler-1.2.1/lib/moment.min.js" type="text/javascript"></script>
	<script src="/appl/fullcalendar-scheduler-1.2.1/lib/fullcalendar.min.js" type="text/javascript"></script>
	<script src="/appl/fullcalendar-scheduler-1.2.1/scheduler.min.js" type="text/javascript"></script>
	<script src="/api.js" type="text/javascript"></script>
	<script src="/appl/main.js" type="text/javascript"></script>
  </body>
</html>
