<div class="EventEditor">
	<form class="form-horizontal allocation-form" @submit.prevent="allocate">
		<legend>{{ selection.id ? 'Edit' : 'Add' }} Allocation:</legend>
		<div class="form-group form-group-sm">
			<label class="col-sm-3 control-label">title</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" :placeholder="title" v-model="selection.title"  autofocus>
			</div>
		</div>
		<div v-if="selection.event_id" class="form-group form-group-sm">
			<label class="col-sm-3 control-label">for</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" :placeholder="selection.event_title" readonly>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="col-sm-3 control-label">from</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" :placeholder="selection.start | moment 'MMM Do YYYY, h:mm a'" readonly>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label class="col-sm-3 control-label">to</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" :placeholder="selection.end | moment 'MMM Do YYYY, h:mm a'" readonly>
			</div>
		</div>
		<div class="form-group form-group-sm">
		  	<div class="col-sm-offset-3 col-sm-9">
				<button v-if="selection.id" type="button" class="btn btn-danger" @click.prevent="unallocate">Remove</button>
		  		<button class="btn btn-default" type="button" @click.prevent="clear_selection">Cancel</button>
				<button type="submit" class="btn" :class="{'btn-primary':!saving,'btn-success':saving}" :disabled="!can_allocated">
					<span v-if="selection.id">Save</span>
					<span v-else>Allocate</span>
				</button>
			</div>
		</div>
	</form>
</div>	