.SchedulePanel
.calendar {
	max-width: 900px;
}

.SchedulePanel
.fc-resource-area td {
	cursor: pointer;
}

.SchedulePanel
.add-asset-icon {
	margin-top: 4px;
	margin-right: 4px;
}

.SchedulePanel
.add-asset-icon:hover {
	color: green;
}

.SchedulePanel
.cal-controls h3 {
	margin-left: 2px;
	margin-top: 0;
	margin-bottom: 0;
}

.SchedulePanel
.nav-cal {
	text-align: right;
	margin-bottom: 6px;
}