<div class="ServicesPanel">
	<form @submit.prevent="filter_services">
		<input type="text" v-model="service_term" placeholder="service name" />
		<button type="submit">Filter</button>
		<button type="button" @click.stop="add_service">Add</button>
	</form>
	<ul>
		<li v-for="item in services">
			<a href="#" @click.stop="edit_service(item)">{{ item.id }} {{ item.name }}</a>
		</li>
	</ul>
	<form v-if="editing_service" @submit.prevent="save_service">
		<div class="form-group">
			<label>name</label>
			<input type="text" v-model="editing_service.name"  placeholder="name" />
		</div>
		<div class="form-group">
			<label>description</label>
			<textarea v-model="editing_service.description"  placeholder="description"></textarea>
		</div>
		<div class="form-group">
			<label>cost</label>
			<input type="text" v-model="editing_service.cost"  placeholder="cost" number />
		</div>
		<div class="form-group">
			<label>duration</label>
			<input type="text" v-model="editing_service.duration"  placeholder="duration in days" number />
		</div>
		<div class="form-group">
			<label>token_url</label>
			<input type="text" v-model="editing_service.token_url"  placeholder="token url" />
		</div>
		<div class="form-group">
			<label>cors</label>
			<input type="text" v-model="editing_service.cors"  placeholder="cors" />
		</div>
		<div class="form-group">
			<button type="submit">
				<span v-if="editing_service.id">Save</span>
				<span v-else>Add</span>
			</button>
			<button type="button" @click.stop="cancel_service">Cancel</button>
		</div>
	</form>
</div>