<div class="GroupsPanel Panel">
	<form @submit.prevent="" class="input-group">
		<input type="text" placeholder="group name" 
			v-auto-complete :selected="edit_group" :source="filter_groups" v-el:search_input />
		<button type="submit">
			<span class="fa fa-fw fa-search"></span>
		</button>
		<button type="button" @click.stop="add_group">
			<span class="fa fa-fw fa-plus"></span>
		</button>
	</form>
	<ul>
		<li v-for="item in groups">
			<a href="#" @click.stop="edit_group(item)">{{ item.id }} {{ item.name }}</a>
		</li>
	</ul>
	<form v-if="editing_group" @submit.prevent="save_group">
		<div class="form-group">
			<label>name</label>
			<input type="text" v-model="editing_group.name"  placeholder="name" v-el:name_input />
		</div>
		<div class="form-group">
			<button type="submit">
				<span v-if="editing_group.id">Save</span>
				<span v-else>Add</span>
			</button>
			<button type="button" @click.stop="cancel_group">Cancel</button>
		</div>
	</form>
</div>