[v-cloak]{
	display: none;
}

.container{
	margin-top: 1em;
}

.container
.tools{
	text-align: right;
	margin-bottom: 1em;
}

.badge.open{
	background-color: #5cb85c;
}

.container
.tools
.LoginPanel{
	display: inline-block;
}