<div class="UsersPanel">
	<form @submit.prevent="filter_users">
		<input type="text" v-model="user_term" placeholder="user name or email" />
		<button type="submit">Filter</button>
		<button type="button" @click.stop="add_user">Add</button>
	</form>
	<ul>
		<li v-for="item in users">
			<a href="#" @click.stop="edit_user(item)">{{ item.id }} {{ item.name }}</a>
		</li>
	</ul>
	<form v-if="editing_user" @submit.prevent="save_user">
		<div class="form-group">
			<label>name</label>
			<input type="text" v-model="editing_user.name"  placeholder="name" />
		</div>
		<div class="form-group">
			<label>email</label>
			<input type="text" v-model="editing_user.email"  placeholder="email" />
		</div>
		<div v-if="!editing_user.id" class="form-group">
			<label>password</label>
			<input type="text" v-model="editing_user.password"  placeholder="password" />
		</div>
		<div class="form-group">
			<button type="submit">
				<span v-if="editing_user.id">Save</span>
				<span v-else>Add</span>
			</button>
			<button type="button" @click.stop="cancel_user">Cancel</button>
		</div>
	</form>
</div>