<div class="UsersPanel Panel">
	<form @submit.prevent="" class="input-group">
		<input type="text" placeholder="user name or email"
			v-auto-complete :selected="edit_user" :source="filter_users" v-el:search_input />
		<button type="submit">
			<span class="fa fa-fw fa-search"></span>
		</button>
		<button type="button" @click.stop="add_user">
			<span class="fa fa-fw fa-plus"></span>
		</button>
	</form>
	<ul>
		<li v-for="item in users">
			<a href="#" @click.stop="edit_user(item)">{{ item.id }} {{ item.name }}</a>
		</li>
	</ul>
	<form v-if="editing_user" @submit.prevent="save_user">
		<div class="form-group">
			<label for="edit_user_name">name</label>
			<input type="text" v-model="editing_user.name"  placeholder="name" id="edit_user_name" v-el:name_input />
		</div>
		<div class="form-group">
			<label for="edit_user_email">email</label>
			<input type="text" v-model="editing_user.email"  placeholder="email" id="edit_user_email"/>
		</div>
		<div v-if="!editing_user.id" class="form-group">
			<label for="edit_user_pass">password</label>
			<input type="text" v-model="editing_user.password"  placeholder="password" id="edit_user_pass"/>
		</div>
		<div class="form-group">
			<button v-if="editing_user.id" type="button" @click.stop="remove_user">Remove</button>
			<button type="submit">
				<span v-if="editing_user.id">Save</span>
				<span v-else>Add</span>
			</button>
			<button type="button" @click.stop="cancel_user">Cancel</button>
		</div>
	</form>
</div>